.main-account-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
}

.ac-active {
  color: var(--main-black);
  font-weight: bold;

}

.account-control-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin-bottom: calc(var(--index)*0.3);
  min-width: calc(var(--index)*30);
}

.account-control-block p {
  margin-right: 1vw;
  cursor: pointer;
}

.div-account {
  background-color: var(--main-black);
  border-radius: 16px;
  margin-bottom: 3vh;
  padding: 0 calc(var(--index)*0.5);
  min-width: 50%;
  min-height: 55vh;
}

.div-account .account-header {
  margin-left: calc(var(--index)*1.5);
  margin-top: calc(var(--index)*1.2);
  font-family: 'SF Pro Display', 'Montserrat', sans-serif;
  font-size: calc(var(--index)*1.7);

}

/* user block css */

.user-block-head {
  color: var(--main-white);
  font-weight: normal !important;
  font-size: calc(var(--index)*1.2);
}

.user-block-div {
  margin: calc(var(--index)*1);
}

.user-block-div:last-child {
  margin-bottom: calc(var(--index)*1.7);
}

.user-block-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: calc(var(--index)*1.2);
}

.user-block-control {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: calc(var(--index)*1.2);
  margin: calc(var(--index)*1.3) 0;
  margin-right: calc(var(--index)*1.2);
}

/* card block css */

.card-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
}

.card-result-block {
  border-color: var(--main-acsent) !important;
  border-radius: 16px !important;
  border-width: 1px !important;
  margin: 0 !important;
  width: fit-content !important;
}

.card-result-block a {
  color: var(--main-acsent) !important;
}

.card-result-block .card-body {
  background-color: var(--main-black) !important;
  border-radius: 16px !important;
  border-color: var(--main-acsent) !important;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: calc(var(--index)*1.2);
  align-items: center;
  margin: calc(var(--index)*1.2);
  margin-bottom: calc(var(--index)*1.7);
}

@media screen and (max-width: 1200px) {
  .account-control-block {
    min-width: 70%;
  }

  .card-container {
    flex-direction: column;
  }
}