.calculator-category-content {
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: calc(var(--index)*1);
  margin: calc(var(--index)*1.2);
}

.calculator-next-button {
  height: 6.5vh;
  border-radius: 12px;
  align-self: center;
  margin-top: calc(var(--index)*1);
}

.calc-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: calc(var(--index)*1.2);
}


.calculator-input {
  align-self: center;
}

.regular-spinner {
  color: var(--main-acsent) !important;
}

@media screen and (max-width: 800px) {
  .calculator-category-content {
    grid-template-columns: 1fr;
  }

  .calculator-category-content:nth-child(2n) {
    justify-self: center !important;
  }

}