@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');



a {
  font-family: 'SF Pro Display', 'Montserrat', sans-serif;
  color: var(--main-black) !important;
  font-weight: 700 !important;
}

.header-logo {
  font-size: calc(var(--index)*2);
}

.header-control-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}