@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');



.header-navbar-el a {
  font-family: 'SF Pro Display', 'Montserrat', sans-serif;
  color: var(--main-black) !important;
  font-weight: 700 !important;
}

.header-logo {
  font-size: calc(var(--index)*2);
}

.header-control-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-reg-button {
  border-radius: 12px !important;
}

@media screen and (max-width: 768px) {
  .header-control-block {
    flex-direction: column;
    justify-content: end;
    align-items: end;
    gap: calc(var(--index)*1.5);
  }


  .header-logo {
    font-size: calc(var(--index)*0);
  }
}