@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.main-div {
  font-family: 'SF Pro Display', 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--main-black) !important;
}

.h1-main {
  font-family: 'SF Pro Display', 'Montserrat', sans-serif;
  font-size: calc(var(--index)*7);
  line-height: calc(var(--index)*6) !important;
  margin-bottom: 5% !important;
}

.p-logo {
  font-size: calc(var(--index)*0.8);
  line-height: 24px;
}

/*right side of the screen */
.p-logo-div {
  margin-left: 1rem;
}

.secondary-head-sign {
  width: 25%;
  text-align: right !important;
  max-height: 10vh;
}