.pbar-main {
  height: 2px !important;
  background-color: var(--secondary-gray-2) !important;
}

.pbar-main * {
  background-color: var(--main-success) !important;
}

.h2-main {
  font-family: 'SF Pro Display', 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.h2-main-modal {
  font-size: small;
  justify-self: start;
  color: var(--main-white) !important;
}

.modal-pbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pbar-main-modal {
  width: calc(var(--index)*15.2);
  height: 2px !important;
  background-color: var(--main-grey) !important;
}

.pbar-main-modal * {
  background-color: var(--main-success) !important;
}

@media screen and (max-width: 768px) {
  .h2-main {
    margin-top: 2vh !important;
    text-align: center;
  }
}