.pbar-main {
  height: 1px !important;
  background-color: #D9D9D9 !important;
}

.pbar-main * {
  background-color: black !important;
}

.h2-main {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
  color: #3B3043 !important;
}