.pbar-main {
  height: 1px !important;
  background-color: var(--secondary-gray-2) !important;
}

.pbar-main * {
  background-color: var(--main-success) !important;
}

.h2-main {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}