.regular-checkbox-form-control {
  color: var(--main-acsent) !important;
  border-color: var(--main-acsent) !important;
  padding: calc(var(--index)*0.4) !important;
}

.regular-checkbox-form-control:checked {
  background-image: url('../asserts/checkbox-arrow.svg') !important;
  border-color: var(--main-acsent) !important;
  background-color: var(--main-white) !important;
  background-size: 65% !important;
  box-shadow: none !important;
}

.regular-slider-check {
  color: var(--main-acsent) !important;
}



input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 3px;
  background: var(--main-acsent);
  cursor: pointer;
}

/* Тоже самое для Firefox */
input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border-radius: 3px;
  background: var(--main-acsent);
  cursor: pointer;
}

/* Тоже самое для IE */
input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border-radius: 3px;
  background: var(--main-acsent);
  cursor: pointer;
}