.regular-checkbox-form-control {
  color: var(--main-acsent) !important;
  border-color: var(--main-acsent) !important;
}

.regular-checkbox-form-control:checked {
  background-color: var(--main-acsent) !important;
  border-color: var(--main-acsent) !important;
}