.regular-modal-form-group {
  background-color: var(--main-black) !important;
  color: var(--main-acsent) !important;
}

.regular-modal-form-label {
  color: var(--main-acsent) !important;
  margin: 0px !important;
  font-size: small;
}

.regular-modal-form-control {
  background-color: var(--main-black) !important;
  border-color: var(--main-acsent) !important;
  color: var(--main-acsent) !important;
  border-radius: 12px !important;
  padding: 1.5vh !important;

}

.regular-modal-form-control::-webkit-inner-spin-button,
.regular-modal-form-control::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.regular-modal-form-control::placeholder {
  color: var(--main-acsent) !important;
}

.is-invalid {
  border-color: var(--main-error) !important;

}