.regular-button {
  background-color: var(--main-acsent) !important;
  color: var(--main-white) !important;
  border: none !important;
  padding: 0.5rem 1rem;
  border-radius: 12px !important;
}

;

.regular-button:hover {
  background-color: var(--secondary-accent);
  color: var(--main-white);
}

;

.regular-button:checked {
  box-shadow: 2px 4px rgba(94, 85, 223, 0.19);
}

;

.regular-button:disabled {
  background-color: var(--secondary-gray-2);
  color: var(--main-black);
}

;