.h1-report {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(var(--index)*3.5);
  line-height: calc(var(--index)*4.5) !important;
}

.main-footer-section {
  width: 20%;
  text-align: right !important;
}

.report-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--index)*1);
}

.report-page-additional {
  display: flex;
  justify-content: space-between;
  margin: calc(var(--index)*1.2) 0;
}

@media screen and (max-width: 768px) {
  .report-page-container {
    flex-direction: column;
    text-align: center;
  }

  .report-page-additional {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-footer-section {
    width: 100%;
    text-align: center !important;
  }

  .report-container {
    text-align: start;
  }

  .card-container {
    display: flex !important;
    flex-direction: column;
  }

  .user-block-form {
    display: flex;
  }

}