.report-container {
  min-width: 40vw;
  min-height: 50vh;
  background-color: var(--main-black) !important;
  border-radius: 16px !important;
  border-color: var(--main-acsent) !important;
  color: var(--main-white) !important;
  padding: calc(var(--index)*1.2);
}

.report-h3 {
  color: var(--main-white) !important;
  margin: calc(var(--index)*1.4) 0;
  font-size: calc(var(--index)*1.7);
}

.report-h {
  color: var(--main-white) !important;
}

.report-control-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.report-control-block button {
  margin: 0 calc(var(--index)*2);
}

.report-control-block button.disabled {
  background-color: #2219A3 !important;
}