.h1-report {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(var(--index)*3.5);
  line-height: calc(var(--index)*4.5) !important;
}

.main-footer-section {
  width: 20%;
  text-align: right !important;
}

.report-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--index)*1);
}

.report-page-additional {
  display: flex;
  justify-content: space-between;
  margin: calc(var(--index)*1.2) 0;
}

.card-insight {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: calc(var(--index)*1.2);
  margin: calc(var(--index)*1.2) 0;
  margin-right: calc(var(--index)*2.5);
}

.card-insight p {
  margin-bottom: 0 !important;
}

.card-insight img {
  width: 8%;
}

.insight-span {
  font-weight: bold;
  color: var(--main-acsent);
}

.report-plots-container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  gap: calc(var(--index)*1.2);
}

.plot-header {
  font-size: calc(var(--index)*1);
  text-align: center;
}

@media screen and (max-width: 768px) {
  .report-plots-container {
    display: flex;
    flex-direction: column;
  }


  .card-insight {
    flex-direction: column;
  }

  .report-page-container {
    flex-direction: column;
    text-align: center;
  }

  .report-page-additional {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .main-footer-section {
    width: 100%;
    text-align: center !important;
  }

  .report-container {
    text-align: start;
  }

}