@font-face {
  font-family: 'SF Pro Display';
  src: url('./fonts/SF-Pro.ttf') format('truetype') url('./fonts/SF-Pro.woff') format('woff');
}

:root {
  --index: calc(1vh + 1vw);
  --main-black: #202020;
  --main-white: #ffffff;
  --main-grey: #616974;
  --main-error: #d40000;
  --main-success: #00d455;
  --main-acsent: #5E55DF;

  --secondary-gray: #f5f6f7;
  --secondary-gray-2: #d0d0d0;
  --secondary-accent: #AFAAEF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-margin-top: 15vh;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'SF Pro Display', 'Montserrat', sans-serif;
  font-weight: 500;
  color: var(--main-black);
}

p,
div {
  font-family: 'SF Pro Display', 'Montserrat', sans-serif;
}

ul,
li {
  list-style: none;
}